/*--------------------------------------
            R E S E T
  --------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======================================
      0 -  A P P  C O N T A I N E R
   ======================================
*/

.app-container {
    display: flex;
}

/* --------------------------------------
       0.1a     S I D E B A R
   --------------------------------------
*/

.sidebar {
    min-height: 100vh;
    width: 270px;
    background-color: #11101d;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: red;
}


/* --------------------------------------
       0.1b     C O N T E N T
   --------------------------------------
*/

.content {
    min-height: 100vh;
    flex: 1;
}


/* --------------------------------------
        0.1b.2a    header
   --------------------------------------
*/

.header {
    height: 60px;
    background-color: #e4e9f7;
    display: flex;
    align-items: center;
}

/* --------------------------------------
        0.1b.2b    main
   --------------------------------------
*/
.main {
    display: flex;
    height: calc(100% - 60px);
}


/* --------------------------------------
        0.1b.2b.3a    panel
   --------------------------------------
*/

.panel {
    height: 100%;
    width: 350px;
}

/* --------------------------------------
        0.1b.2b.3b    main-content
   --------------------------------------
*/