<table>
    <tr>
        <th>Year</th>
        <th>Aug</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dec</th>
        <th>Jan</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Apr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Total</th>
    </tr>
    <tr>
        <td>08 - 09</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class="up">▲ 0</span></td>
        <td><div class="progress-bar"><div style="width: 0%;"></div></div></td>
    </tr>
    <tr>
        <td>09 - 10</td>
        <td><span class="down">▼ 72</span></td>
        <td>223</td>
        <td>309</td>
        <td>274</td>
        <td>206</td>
        <td>326</td>
        <td>328</td>
        <td>423</td>
        <td>429</td>
        <td>298</td>
        <td><span class="up">▲ 615</span></td>
        <td>376</td>
        <td><div class="progress-bar"><div style="width: 40%;"></div></div></td>
    </tr>
    <tr>
        <td>10 - 11</td>
        <td><span class="down">▼ 409</span></td>
        <td>625</td>
        <td><span class="up">▲ 933</span></td>
        <td>586</td>
        <td>748</td>
        <td>746</td>
        <td>816</td>
        <td>907</td>
        <td>650</td>
        <td>582</td>
        <td>501</td>
        <td>618</td>
        <td><div class="progress-bar"><div style="width: 80%;"></div></div></td>
    </tr>
    <tr>
        <td>11 - 12</td>
        <td>150</td>
        <td class="highlight">767</td>
        <td class="highlight">956</td>
        <td><span class="up">▲ 1.2k</span></td>
        <td class="highlight">846</td>
        <td class="highlight">911</td>
        <td class="highlight">945</td>
        <td>648</td>
        <td>716</td>
        <td>600</td>
        <td><span class="down">▼ 529</span></td>
        <td>624</td>
        <td><div class="progress-bar brown"><div style="width: 90%;"></div></div></td>
    </tr>
</table>
