@page "/"
@page "/forecasting"
@page "/sales-operations"
@page "/supply-planning"
@page "/material-planning"
@page "/mill-planning"
@page "/caster-scheduling"
@page "/inventory-management"


<h1>Hello Lisema Ramosito</h1>