@page "/forecasting"
@page "/statistical-forecasting"

<h3>Statiscal Forecasting</h3>

<div class="forecasting">
    <ul class="bar-forecast-tabs">
        <li class="active"><a href="#">General</a></li>
        <li><a href="#">Parent-Children</a></li>
        <li><a href="#">Cycle on Cycle</a></li>
    </ul>
    <div class="tab-forecast-content">
        <div class="general"></div>
        <div class="parent-children"></div>
        <div class="cycle-on-cycle"></div>
    </div>
</div>

@code {

}
